<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/animals" method="post">
          <fieldset>
              <legend>Create a New Animal</legend>
            <label>
              SPECIES:<input
                type="text"
                name="species"
                placeholder="enter species"
              />
            </label>
            <label>
              LOCATION:<input
                type="text"
                name="location"
                placeholder="enter habitat/location"
              />
            </label>
            <label>
              LIFE EXPECTANCY (in years):<input
                  type="number"
                  name="lifeExpectancy"
                  placeholder="enter lifespan"
                />
              </label>
            <label>
              EXTINCT?:<input type="checkbox" name="extinct" />
            </label>
          </fieldset>
          <input type="submit" value="create new animal" />
        </form>
      </div>
    </main>
  </body>
</html>